@import url('./vendor/normalize.css');
@import url('./vendor/fonts/Inter/inter.css');

:root {
  --backgroundGray: #fbfbfb;
  --lightGray: #efefef;
  --gray: #999;
  --borderGray: #eaeaea;
  --black: #1e1e1e;
  --blue: #3369f3;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
