---
title: Not found
css:
  - error.css
errorCode: 404
errorText: Not found
---
{{!< base}}

{{> header}}
<main class="wrapper">
  <div class="error">
    <div class="error__info">
      <h1 class="error__title">{{errorCode}}</h1>
      <h2 class="error__text">{{errorText}}</h2>
    </div>

    <a href="./chats.hbs" class="error__link">Back to chats</a>
  </div>
</main>