{{!< base}}

<main>
  <h1>Pages:</h1>
  <ul>
    <li>
      <a href='./register.hbs'>Register page</a>
    </li>
    <li>
      <a href='./login.hbs'>Login page</a>
    </li>
    <li>
      <a href='./chats.hbs'>Chats</a>
    </li>
    <li>
      <a href='./profile.hbs'>Profile</a>
    </li>
    <li>
      <a href='./404.hbs'>404 Not found</a>
    </li>
    <li>
      <a href='./500.hbs'>500 Server error</a>
    </li>
  </ul>
</main>